@font-face {
    font-family: 'escafinahigh';
    src: url('/krystian/invitation/styles/escafina-high-webfont.woff2') format('woff2'),
         url('/krystian/invitation/styles/escafina-high-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}