.wrapper {
	max-width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		max-width: 600px;
	}
}

@media (max-width: 500px) {
.wrapperThx {
	 h1 {
  		font-size: 3rem;
  	}
  	p, a {
  		font-size: 1.5rem;
  		max-width: 70%;
  		line-height: 2rem;
	  }
	}
}

@media (max-width: 320px) {
.wrapperThx {
  	p, a {
  		font-size: 1.4rem;
  		max-width: 70%;
  		line-height: 1.9rem;
	  }
	}
}
